azul = #22BCE0
gris_oscuro = #444

body
	color gris_oscuro
	background #E8E8E8
	font-family Arial
	font-size 16px
	
header
	
	background gris_oscuro
	color white
	padding 0.5em
	.logo
		border-right 1px solid azul
		width 70px
		
		img
			width 60px
	
	.titular
		margin 0 80px
		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0
			


.right
	float right
.left
	float left

			



